@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');
.custom_view_glopro .logo a,
.custom_view_cleveroil .logo a,
.custom_view_scala .logo a {
  background-image: url(/img/GloPro-logo-pack/GloPro-main-logo.svg);
  width: 140px;
}
.custom_view_glopro aside,
.custom_view_cleveroil aside,
.custom_view_scala aside {
  background: #0e1d29;
}
.custom_view_glopro aside > a,
.custom_view_cleveroil aside > a,
.custom_view_scala aside > a,
.custom_view_glopro aside .sub_menu_title,
.custom_view_cleveroil aside .sub_menu_title,
.custom_view_scala aside .sub_menu_title {
  color: white;
}
.custom_view_glopro aside > a:hover,
.custom_view_cleveroil aside > a:hover,
.custom_view_scala aside > a:hover,
.custom_view_glopro aside .sub_menu_title:hover,
.custom_view_cleveroil aside .sub_menu_title:hover,
.custom_view_scala aside .sub_menu_title:hover,
.custom_view_glopro aside > a.act,
.custom_view_cleveroil aside > a.act,
.custom_view_scala aside > a.act,
.custom_view_glopro aside .sub_menu_title.act,
.custom_view_cleveroil aside .sub_menu_title.act,
.custom_view_scala aside .sub_menu_title.act {
  background: #0e86ad;
  color: white;
}
.custom_view_glopro aside > a:hover span,
.custom_view_cleveroil aside > a:hover span,
.custom_view_scala aside > a:hover span,
.custom_view_glopro aside .sub_menu_title:hover span,
.custom_view_cleveroil aside .sub_menu_title:hover span,
.custom_view_scala aside .sub_menu_title:hover span,
.custom_view_glopro aside > a.act span,
.custom_view_cleveroil aside > a.act span,
.custom_view_scala aside > a.act span,
.custom_view_glopro aside .sub_menu_title.act span,
.custom_view_cleveroil aside .sub_menu_title.act span,
.custom_view_scala aside .sub_menu_title.act span {
  color: white;
}
.custom_view_glopro aside > a [class^="icon-"],
.custom_view_cleveroil aside > a [class^="icon-"],
.custom_view_scala aside > a [class^="icon-"],
.custom_view_glopro aside .sub_menu_title [class^="icon-"],
.custom_view_cleveroil aside .sub_menu_title [class^="icon-"],
.custom_view_scala aside .sub_menu_title [class^="icon-"] {
  color: rgba(255, 255, 255, 0.5);
}
.custom_view_scala .logo a {
  background-image: url(/img/logo.svg);
}
.custom_view_oilst .logo a,
.custom_view_modulcard .logo a {
  background-image: url(/img/projects/logo_modul_b.png);
}
.custom_view_oilst aside,
.custom_view_modulcard aside {
  background: #112f6d;
}
.custom_view_oilst aside > a,
.custom_view_modulcard aside > a,
.custom_view_oilst aside .sub_menu_title,
.custom_view_modulcard aside .sub_menu_title {
  color: white;
}
.custom_view_oilst aside > a:hover,
.custom_view_modulcard aside > a:hover,
.custom_view_oilst aside .sub_menu_title:hover,
.custom_view_modulcard aside .sub_menu_title:hover,
.custom_view_oilst aside > a.act,
.custom_view_modulcard aside > a.act,
.custom_view_oilst aside .sub_menu_title.act,
.custom_view_modulcard aside .sub_menu_title.act {
  background: #fead49;
  color: white;
}
.custom_view_oilst aside > a:hover span,
.custom_view_modulcard aside > a:hover span,
.custom_view_oilst aside .sub_menu_title:hover span,
.custom_view_modulcard aside .sub_menu_title:hover span,
.custom_view_oilst aside > a.act span,
.custom_view_modulcard aside > a.act span,
.custom_view_oilst aside .sub_menu_title.act span,
.custom_view_modulcard aside .sub_menu_title.act span {
  color: white;
}
.custom_view_oilst aside > a [class^="icon-"],
.custom_view_modulcard aside > a [class^="icon-"],
.custom_view_oilst aside .sub_menu_title [class^="icon-"],
.custom_view_modulcard aside .sub_menu_title [class^="icon-"] {
  color: rgba(255, 255, 255, 0.5);
}
.custom_view_oilst .sub_menu_items a:hover,
.custom_view_modulcard .sub_menu_items a:hover,
.custom_view_oilst .sub_menu_items a.act,
.custom_view_modulcard .sub_menu_items a.act {
  color: white;
}
/*.custom_view_modulcard{
  .logo{
    a{
      background-image: url(/img/projects/logo_white_mini.png);
    }
  }
}*/
.custom_view_mo47 .logo a {
  background-image: url(/img/projects/mo47.png);
}
.custom_view_mo47 aside {
  background: #ddd;
}
.custom_view_mo47 aside > a,
.custom_view_mo47 aside .sub_menu_title {
  color: white;
}
.custom_view_mo47 aside > a:hover,
.custom_view_mo47 aside .sub_menu_title:hover,
.custom_view_mo47 aside > a.act,
.custom_view_mo47 aside .sub_menu_title.act {
  background: #4D8FC7;
  color: white;
}
.custom_view_mo47 aside > a:hover span,
.custom_view_mo47 aside .sub_menu_title:hover span,
.custom_view_mo47 aside > a.act span,
.custom_view_mo47 aside .sub_menu_title.act span {
  color: white;
}
.custom_view_mo47 aside > a [class^="icon-"],
.custom_view_mo47 aside .sub_menu_title [class^="icon-"] {
  color: rgba(255, 255, 255, 0.5);
}
.custom_view_vegix .logo a {
  background-image: url(/img/projects/vegix.png);
}
.custom_view_vegix aside {
  background: #fff;
}
.custom_view_vegix aside > a,
.custom_view_vegix aside .sub_menu_title {
  color: #f90e24;
}
.custom_view_vegix aside > a:hover,
.custom_view_vegix aside .sub_menu_title:hover,
.custom_view_vegix aside > a.act,
.custom_view_vegix aside .sub_menu_title.act {
  background: #0e86ad;
  color: white;
}
.custom_view_vegix aside > a:hover span,
.custom_view_vegix aside .sub_menu_title:hover span,
.custom_view_vegix aside > a.act span,
.custom_view_vegix aside .sub_menu_title.act span {
  color: white;
}
.custom_view_vegix aside > a [class^="icon-"],
.custom_view_vegix aside .sub_menu_title [class^="icon-"] {
  color: #f90e24;
}
.custom_view_vegix .sub_menu_items a:hover,
.custom_view_vegix .sub_menu_items a.act {
  color: #f90e24;
}
.custom_view_piteroil .logo a {
  background-image: url(/img/projects/piter.jpg);
}
.custom_view_piteroil aside {
  background: #f7d463;
}
.custom_view_piteroil aside > a,
.custom_view_piteroil aside .sub_menu_title {
  color: #000000;
}
.custom_view_piteroil aside > a:hover,
.custom_view_piteroil aside .sub_menu_title:hover,
.custom_view_piteroil aside > a.act,
.custom_view_piteroil aside .sub_menu_title.act {
  background: #ed8e00;
  color: #000000;
}
.custom_view_piteroil aside > a:hover span,
.custom_view_piteroil aside .sub_menu_title:hover span,
.custom_view_piteroil aside > a.act span,
.custom_view_piteroil aside .sub_menu_title.act span {
  color: #000000;
}
.custom_view_piteroil aside > a [class^="icon-"],
.custom_view_piteroil aside .sub_menu_title [class^="icon-"] {
  color: #000000;
}
.custom_view_piteroil .sub_menu_items {
  background: rgba(0, 0, 0, 0.05);
}
.custom_view_piteroil .sub_menu_items a {
  color: #444;
}
.custom_view_piteroil .sub_menu_items a:hover,
.custom_view_piteroil .sub_menu_items a.act {
  color: #000000;
}
.custom_view_interoil .logo {
  background: #320a09;
}
.custom_view_interoil .logo a {
  background-image: url(/img/projects/interoil.png);
}
.custom_view_interoil aside {
  background: #fffbf5;
}
.custom_view_interoil aside > a,
.custom_view_interoil aside .sub_menu_title {
  color: #af4821;
}
.custom_view_interoil aside > a:hover,
.custom_view_interoil aside .sub_menu_title:hover,
.custom_view_interoil aside > a.act,
.custom_view_interoil aside .sub_menu_title.act {
  background: #f8f1e8;
  color: #af4821;
}
.custom_view_interoil aside > a:hover span,
.custom_view_interoil aside .sub_menu_title:hover span,
.custom_view_interoil aside > a.act span,
.custom_view_interoil aside .sub_menu_title.act span {
  color: #af4821;
}
.custom_view_interoil aside > a [class^="icon-"],
.custom_view_interoil aside .sub_menu_title [class^="icon-"] {
  color: #af4821;
}
.custom_view_interoil .sub_menu_items a:hover,
.custom_view_interoil .sub_menu_items a.act {
  color: #af4821;
}
.custom_view_neftregion .logo a {
  background-image: url(/img/projects/parlamentk.png);
}
.custom_view_neftregion aside {
  background: #0e1d29;
}
.custom_view_neftregion aside > a,
.custom_view_neftregion aside .sub_menu_title {
  color: white;
}
.custom_view_neftregion aside > a:hover,
.custom_view_neftregion aside .sub_menu_title:hover,
.custom_view_neftregion aside > a.act,
.custom_view_neftregion aside .sub_menu_title.act {
  background: #0e86ad;
  color: white;
}
.custom_view_neftregion aside > a:hover span,
.custom_view_neftregion aside .sub_menu_title:hover span,
.custom_view_neftregion aside > a.act span,
.custom_view_neftregion aside .sub_menu_title.act span {
  color: white;
}
.custom_view_neftregion aside > a [class^="icon-"],
.custom_view_neftregion aside .sub_menu_title [class^="icon-"] {
  color: rgba(255, 255, 255, 0.5);
}
.custom_view_alberit .logo a {
  background-image: url(/img/projects/alberit.png);
}
.custom_view_alberit aside {
  background: #292929;
}
.custom_view_alberit aside > a,
.custom_view_alberit aside .sub_menu_title {
  color: white;
}
.custom_view_alberit aside > a:hover,
.custom_view_alberit aside .sub_menu_title:hover,
.custom_view_alberit aside > a.act,
.custom_view_alberit aside .sub_menu_title.act {
  background: #fdc900;
  color: #292929;
}
.custom_view_alberit aside > a:hover span,
.custom_view_alberit aside .sub_menu_title:hover span,
.custom_view_alberit aside > a.act span,
.custom_view_alberit aside .sub_menu_title.act span {
  color: #292929;
}
.custom_view_alberit aside > a [class^="icon-"],
.custom_view_alberit aside .sub_menu_title [class^="icon-"] {
  color: rgba(255, 255, 255, 0.5);
}
.custom_view_alberit .sub_menu_items a:hover,
.custom_view_alberit .sub_menu_items a.act {
  color: rgba(255, 255, 255, 0.5);
}
.custom_view_cleveroil .logo a {
  background-image: url(/img/projects/LogoClever.jpg);
}
.custom_view_png {
  background: #e2e2e3 url(/img/gpn/isometric.png);
  font-family: 'Roboto', sans-serif;
  color: #1e1e1e;
}
.custom_view_png a {
  color: #007EC6;
}
.custom_view_png a:hover {
  color: #007EC6;
}
.custom_view_png .ui-datepicker {
  background: #007EC6;
}
.custom_view_png .ui-datepicker a {
  color: white;
}
.custom_view_png h1 {
  font-weight: bold;
  color: #404040;
}
.custom_view_png header {
  background: #262626;
  border-bottom-color: #262626;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.custom_view_png .hamburger {
  border-left: none;
  border-right: none;
}
.custom_view_png .hamburger > a,
.custom_view_png .mail > a,
.custom_view_png .settings > a,
.custom_view_png .logout > a {
  color: #807f80;
}
.custom_view_png .hamburger > a:hover,
.custom_view_png .mail > a:hover,
.custom_view_png .settings > a:hover,
.custom_view_png .logout > a:hover {
  background: #404040;
  color: #807f80;
}
.custom_view_png .search input[type=text] {
  background: #262626;
  color: #e2e2e3;
}
.custom_view_png .avatar {
  background: #404040;
}
.custom_view_png .personal {
  color: #e2e2e3;
}
.custom_view_png .logo a {
  background-image: url(/img/gpn/gpn-logo.png);
  width: 140px;
  height: 50px;
}
.custom_view_png aside {
  background: #1e1e1e;
}
.custom_view_png aside > a,
.custom_view_png aside .sub_menu_title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-top: 12px;
}
.custom_view_png aside > a:hover,
.custom_view_png aside .sub_menu_title:hover,
.custom_view_png aside > a.act,
.custom_view_png aside .sub_menu_title.act {
  background: #007EC6;
  color: white;
}
.custom_view_png aside > a:hover span,
.custom_view_png aside .sub_menu_title:hover span,
.custom_view_png aside > a.act span,
.custom_view_png aside .sub_menu_title.act span {
  color: white;
}
.custom_view_png aside > a [class^="icon-"],
.custom_view_png aside .sub_menu_title [class^="icon-"] {
  color: rgba(255, 255, 255, 0.5);
}
.custom_view_png .sub_menu_items a {
  color: #e2e2e3;
}
.custom_view_png .sub_menu_items a.act {
  color: #007EC6;
}
.custom_view_png .line_inner {
  background: #f6f6f6;
}
.custom_view_png .tab {
  background: #f6f6f6;
}
.custom_view_png .tab.active {
  background: white;
}
.custom_view_png .tabs_managers .tab,
.custom_view_png .tabs_tariffs .tab {
  background: none;
}
.custom_view_png .tabs_vertical_block {
  background: #f6f6f6;
}
.custom_view_png .gray {
  color: #807f80;
}
.custom_view_png .tab_v.active {
  background: #007EC6;
}
.custom_view_png .btn {
  color: #fff;
  border-color: #005EB8;
  background: #005EB8;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding-top: 11px;
  padding-bottom: 12px;
  font-weight: normal;
}
.custom_view_png .btn:hover,
.custom_view_png .btn.btn_reverse,
.custom_view_png .btn.active {
  background: #007EC6;
  border-color: #007EC6;
}
.custom_view_png .btn:disabled {
  color: #fff !important;
  border-color: #807f80 !important;
  background: #807f80 !important;
}
.custom_view_png .btn:disabled:hover {
  color: #fff !important;
  border-color: #807f80 !important;
  background: #807f80 !important;
}
.custom_view_png .btn.btn_gray {
  color: #fff;
  border-color: #807f80;
  background: #807f80;
}
.custom_view_png .btn.btn_gray:hover,
.custom_view_png .btn.btn_gray.btn_reverse,
.custom_view_png .btn.btn_gray.active {
  background: #807f80;
  border-color: #807f80;
}
.custom_view_png .btn.btn_red {
  color: #fff;
  border-color: #f13930;
  background: #f13930;
}
.custom_view_png .btn.btn_red:hover,
.custom_view_png .btn.btn_red.btn_reverse,
.custom_view_png .btn.btn_red.active {
  background: #f13930;
  border-color: #f13930;
}
.custom_view_png .btn.btn_green {
  color: #fff;
  border-color: #4fd166;
  background: #4fd166;
}
.custom_view_png .btn.btn_green:hover,
.custom_view_png .btn.btn_green.btn_reverse,
.custom_view_png .btn.btn_green.active {
  background: #4fd166;
  border-color: #4fd166;
}
.custom_view_png .btn.btn_orange {
  color: #fff;
  border-color: #f18f1c;
  background: #f18f1c;
}
.custom_view_png .btn.btn_orange:hover,
.custom_view_png .btn.btn_orange.btn_reverse,
.custom_view_png .btn.btn_orange.active {
  background: #f18f1c;
  border-color: #f18f1c;
}
.custom_view_png .btn.btn_small {
  padding-top: 1px;
  padding-bottom: 5px;
}
.custom_view_png .btn .icon-pdf {
  color: white;
}
.custom_view_png .btn .icon-exel1,
.custom_view_png .btn .icon-exel2 {
  color: white;
}
.custom_view_png .label {
  color: #807f80;
}
.custom_view_png .label.label_success {
  background: #4fd166;
  color: white;
}
.custom_view_png .label.label_error {
  background: #f13930;
  color: white;
}
.custom_view_png .label.label_warning {
  background: #f18f1c;
  color: white;
}
.custom_view_png .label.label_info {
  background: #007EC6;
  color: white;
}
