@import "../fonts/icons/style.css";
@import "../fonts/SegoeUILight/style.css";
@import "../fonts/SegoeUISemiBold/style.css";
* {
  box-sizing: border-box;
}
html,
body {
  font-family: SegoeUILight, Tahoma;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f1f2f3;
  color: #000;
  font-size: 16px;
}
img {
  border: 0;
}
h1,
.h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 25px;
  padding: 0;
  color: #999;
  text-transform: uppercase;
}
h1 .btn,
.h1 .btn {
  margin-top: -4px;
  vertical-align: top;
  float: right;
}
h1 + .tabs_block,
.h1 + .tabs_block {
  padding-top: 0;
}
h2,
.h2 {
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 10px;
  padding: 0;
  color: #000;
}
h3,
.h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 5px;
  padding: 0;
  color: #999;
}
.f24 {
  font-size: 24px;
}
.f50 {
  font-size: 50px;
}
.f40 {
  font-size: 40px;
}
.f30 {
  font-size: 30px;
}
.blue {
  color: #0e86ad;
}
b,
strong {
  font-weight: normal;
  font-family: SegoeUISemiBold;
}
b[class^="f"],
strong[class^="f"] {
  margin-bottom: 8px;
  display: inline-block;
}
input,
textarea,
a,
button,
select {
  outline: none;
}
input:disabled,
textarea:disabled,
a:disabled,
button:disabled,
select:disabled {
  opacity: 0.6;
}
select {
  max-width: 250px;
}
select.select_long {
  max-width: 500px;
}
a {
  color: #0e86ad;
  text-decoration: none;
}
a:hover {
  color: #0e86ad;
  text-decoration: underline;
}
a.red:hover {
  color: #b54848;
}
.clr {
  clear: both;
}
.col {
  vertical-align: top;
  display: inline-block;
}
.bad_browser {
  padding: 200px;
  text-align: center;
  display: none;
}
.content {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 71px 0 0 210px;
  transition: all 0.3s ease;
}
.content_inner {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 30px;
}
header {
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background: white;
  border-bottom: 1px solid #d8d9da;
  display: table;
}
header > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.logo {
  text-align: center;
  width: 210px;
}
.logo a {
  display: inline-block;
  width: 120px;
  height: 40px;
  background: no-repeat center;
  background-size: contain;
}
.hamburger,
.mail,
.settings,
.logout {
  width: 70px;
  text-align: center;
  font-size: 20px;
}
.hamburger > a,
.mail > a,
.settings > a,
.logout > a {
  display: table-cell;
  width: 70px;
  height: 70px;
  color: #7e7e7e;
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.hamburger > a:hover,
.mail > a:hover,
.settings > a:hover,
.logout > a:hover {
  background: #f6f6f6;
}
.hamburger {
  border-left: 1px solid #d8d9da;
  border-right: 1px solid #d8d9da;
  font-size: 22px;
}
.search {
  white-space: nowrap;
}
.search button {
  width: 45px;
  height: 70px;
  border: 0;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: #7e7e7e;
}
.search input[type=text] {
  height: 70px;
  width: 80%;
  border: none;
  font-size: 18px;
  font-family: SegoeUILight, Tahoma;
}
.mail:hover .notices {
  display: block;
}
.personal {
  width: 220px;
  color: black;
  padding-left: 60px;
  padding-right: 10px;
  font-size: 16px;
}
.personal .avatar {
  float: left;
  margin-left: -60px;
}
.avatar {
  width: 44px;
  height: 44px;
  display: table;
  border-radius: 50%;
  background: #eee center;
  background-size: cover;
}
.avatar i {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
}
aside {
  vertical-align: top;
  position: fixed;
  width: 210px;
  overflow: hidden;
  z-index: 2;
  height: 100%;
  padding-top: 85px;
  transition: all 0.3s ease;
}
aside > a,
aside .sub_menu_title {
  display: block;
  vertical-align: middle;
  font-size: 18px;
  text-decoration: none;
  font-family: SegoeUISemiBold, Tahoma;
  padding: 9px 0 13px 55px;
  width: 210px;
  transition: all 0.3s ease;
}
aside > a:hover,
aside .sub_menu_title:hover,
aside > a.act,
aside .sub_menu_title.act {
  text-decoration: none;
}
aside > a [class^="icon-"],
aside .sub_menu_title [class^="icon-"] {
  font-size: 20px;
  width: 35px;
  display: inline-block;
  padding-top: 3px;
  float: left;
  margin-left: -37px;
}
.wrapper.menu_collapsed aside {
  width: 55px;
}
.wrapper.menu_collapsed .content {
  padding-left: 85px;
}
.mail .icon-mail {
  position: relative;
}
.mail .icon-mail span {
  position: absolute;
  background: #b82f2f;
  color: white;
  font-size: 14px;
  height: 20px;
  border-radius: 10px;
  top: -10px;
  right: -10px;
  padding: 2px 5px;
  display: inline-block;
  font-family: SegoeUILight, Tahoma;
}
a.btn,
a.btn:hover {
  text-decoration: none;
}
.btn {
  font-size: 16px;
  color: #0e86ad;
  border: 1px solid rgba(14, 134, 173, 0.3);
  border-radius: 5px;
  text-transform: none;
  padding: 10px 20px 13px;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  font-family: SegoeUILight, Tahoma;
  text-align: center;
  transition: all 0.3s ease;
}
.btn:hover,
.btn.btn_reverse,
.btn.active {
  color: white;
  background: #0e86ad;
  border-color: #0e86ad;
}
.btn:hover .icon-pdf,
.btn.btn_reverse .icon-pdf,
.btn.active .icon-pdf,
.btn:hover .icon-exel1,
.btn.btn_reverse .icon-exel1,
.btn.active .icon-exel1,
.btn:hover .icon-exel2,
.btn.btn_reverse .icon-exel2,
.btn.active .icon-exel2 {
  color: white;
}
.btn:disabled {
  color: #999999!important;
  border-color: rgba(0, 0, 0, 0.3) !important;
  background: transparent!important;
}
.btn:disabled:hover {
  color: #999999!important;
  border-color: rgba(0, 0, 0, 0.3) !important;
  background: transparent!important;
}
.btn.btn_gray {
  color: #999999;
  border-color: rgba(0, 0, 0, 0.3);
}
.btn.btn_gray:hover,
.btn.btn_gray.btn_reverse,
.btn.btn_gray.active {
  background: #999999;
  border-color: #999999;
  color: white;
}
.btn.btn_min_width {
  min-width: 275px;
}
.btn.btn_red {
  color: #b54848;
  border-color: rgba(181, 72, 72, 0.3);
}
.btn.btn_red:hover,
.btn.btn_red.btn_reverse,
.btn.btn_red.active {
  background: #b54848;
  border-color: #b54848;
  color: white;
}
.btn.btn_green {
  color: #76b548;
  border-color: rgba(118, 181, 72, 0.3);
}
.btn.btn_green:hover,
.btn.btn_green.btn_reverse,
.btn.btn_green.active {
  background: #76b548;
  border-color: #76b548;
  color: white;
}
.btn.btn_orange {
  color: darkorange;
  border-color: rgba(255, 69, 0, 0.3);
}
.btn.btn_orange:hover,
.btn.btn_orange.btn_reverse,
.btn.btn_orange.active {
  background: darkorange;
  border-color: darkorange;
  color: white;
}
.btn [class^="icon-"] {
  vertical-align: middle;
  margin-right: 5px;
  position: relative!important;
  top: 0!important;
  left: 0!important;
}
.btn [class^="icon-"].icon_big {
  font-size: 150%;
  line-height: 70%;
  margin-left: -5px;
}
.btn.btn_icon [class^="icon-"] {
  margin-right: 0;
}
.btn .icon-pdf {
  color: #e11e1e;
}
.btn .icon-exel1,
.btn .icon-exel2 {
  color: #248b13;
}
.btn.btn_small {
  border-color: transparent;
  padding: 1px 10px 5px;
}
.btn.btn_tiny {
  border-color: transparent;
  padding: 0 5px 3px;
}
.btn.block_loading {
  height: auto;
}
.block {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  margin: 20px 0;
}
.block .table_out {
  margin: 0 -30px -20px;
}
.block .table_out .table {
  border: 0;
}
.block.list {
  padding: 0;
}
.block.list .ajax_block_more {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.block.no_padding {
  padding: 0;
}
.block.supplier {
  display: inline-block;
  vertical-align: top;
}
.table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}
.table td,
.table th {
  padding: 15px 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.table th {
  background: #f6f6f6;
  text-align: left;
}
.table.table_small {
  font-size: 16px;
}
.table.table_small td,
.table.table_small th {
  padding: 10px 15px;
}
.table.table_fullscreen {
  border: none;
}
.table.table_fullscreen th {
  border-top: none;
}
.gray {
  color: #999999;
}
.label {
  font-size: 16px;
  color: #999;
  display: inline-block;
  border-radius: 5px;
  padding: 1px 10px 4px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.label.label_success {
  background: #76b548;
  color: white;
  border-color: transparent;
}
.label.label_error {
  background: #b54848;
  color: white;
  border-color: transparent;
}
.label.label_warning {
  background: #d8bd69;
  color: white;
  border-color: transparent;
}
.label.label_info {
  background: #0e86ad;
  color: white;
  border-color: transparent;
}
.label.label_big {
  font-size: 24px;
  padding: 5px 19px 8px;
}
.label.label_small {
  font-size: 12px;
}
.fr {
  float: right;
  text-align: right;
}
.fr + .fr {
  margin-right: 20px;
}
.back_link {
  margin-bottom: 15px;
  display: inline-block;
  color: #0e86ad;
}
input[type=text].input_big,
input[type=password].input_big,
input[type=number].input_big,
select.select_big,
textarea.textarea_big {
  height: 46px;
  background: white;
  font-family: SegoeUILight;
  border: 1px solid #d8d9da;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
}
input[type=text],
input[type=password],
input[type=number] {
  width: 150px;
}
input[type=text],
input[type=password],
input[type=number],
select,
textarea {
  height: 34px;
  background: white;
  font-family: SegoeUILight;
  border: 1px solid #d8d9da;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}
input[type=text].input_small,
input[type=password].input_small,
input[type=number].input_small,
select.input_small,
textarea.input_small {
  width: 130px;
}
input[type=text].input_mini,
input[type=password].input_mini,
input[type=number].input_mini,
select.input_mini,
textarea.input_mini {
  width: 110px;
}
input[type=text].input_tiny,
input[type=password].input_tiny,
input[type=number].input_tiny,
select.input_tiny,
textarea.input_tiny {
  width: 70px;
}
input[type=text].input_wide,
input[type=password].input_wide,
input[type=number].input_wide,
select.input_wide,
textarea.input_wide {
  width: 200px;
}
input[type=text].input_grand,
input[type=password].input_grand,
input[type=number].input_grand,
select.input_grand,
textarea.input_grand {
  width: 500px;
}
.more_info {
  margin-bottom: 30px;
}
.f18 {
  font-size: 18px;
}
.tabs_block {
  padding-top: 20px;
}
.tabs_content {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.tabs_content.tabs_content_no_padding {
  padding: 0;
}
.tab {
  font-size: 24px;
  color: #999999;
  height: 62px;
  padding: 12px 20px 0;
  background: #e9ebed;
  border: 1px solid transparent;
  margin-right: 1px;
  display: inline-block;
  cursor: pointer;
}
.tab.active {
  color: black;
  background: white;
  border-color: rgba(0, 0, 0, 0.1);
  position: relative;
}
.tab.active:hover {
  color: black;
  background: white;
  border-color: rgba(0, 0, 0, 0.1);
}
.tab.active:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  line-height: 0;
  background: white;
}
.tab.active i {
  color: #999;
}
.tab:hover {
  background: #e1e3e5;
  text-decoration: none;
  color: #999;
}
.tab i {
  vertical-align: middle;
  margin-right: 10px;
}
.red {
  color: #b54848;
}
.tc_top_line {
  font-size: 24px;
  padding: 25px 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 90px;
}
.tc_top_line .fr {
  margin-top: -5px;
}
.input_with_icon {
  font-size: 16px;
  color: #7e7e7e;
  position: relative;
  display: inline-block;
}
.input_with_icon input[type=text] {
  padding-left: 40px;
}
.input_with_icon i[class^="icon-"] {
  position: absolute;
  top: 15px;
  left: 15px;
}
.tabs_vertical_block {
  background: #f6f6f6;
  display: table;
  width: 100%;
}
.tabs_bordered {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.tabs_v {
  width: 365px;
  display: table-cell;
  vertical-align: top;
}
.tabs_v.tabs_v_dots {
  width: 300px;
}
.tabs_reports {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.tabs_managers,
.tabs_tariffs {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.tabs_managers .tabs_v,
.tabs_tariffs .tabs_v {
  width: 260px;
}
.tabs_managers .tabs_block,
.tabs_tariffs .tabs_block {
  padding: 0;
}
.tabs_managers .tabs_content,
.tabs_tariffs .tabs_content {
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.tabs_managers .tab,
.tabs_tariffs .tab {
  background: none;
}
.tabs_managers .tab.active,
.tabs_tariffs .tab.active {
  border-top-color: transparent;
}
.tabs_managers .tab:first-child,
.tabs_tariffs .tab:first-child {
  border-left-color: transparent;
}
.tabs_v_content {
  background: white;
  display: table-cell;
  vertical-align: top;
  min-height: 200px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.tabs_v_content.tabs_content_no_padding .tab_v_content {
  padding: 0;
}
.tabs_v_content .tab_v_content {
  padding: 20px;
}
.tab_v {
  padding: 13px 20px 15px 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  min-height: 70px;
  display: table;
  width: 100%;
  transition: all 0.3s ease;
}
.tab_v > div {
  display: table-cell;
  vertical-align: middle;
}
.tab_v.preload {
  border-bottom: none;
  cursor: default;
}
.tab_v [class^="icon-"] {
  position: absolute;
  top: 25px;
  left: 25px;
}
.tab_v .label {
  position: absolute;
  right: 20px;
  top: 23px;
}
.tab_v.onestr [class^="icon-"] {
  margin-top: 5px;
}
.tab_v:hover:not(.preload) {
  background: #e9ebed;
}
.tab_v a {
  text-decoration: none;
}
.tab_v.active {
  color: white;
  background: #0e86ad;
}
.tab_v.active:hover {
  background: #0e86ad;
}
.tab_v.active .gray {
  color: rgba(255, 255, 255, 0.5);
}
.tab_v.active [class^="icon-"],
.tab_v.active a {
  color: white;
}
.tab_v.active.card_blocked {
  color: white;
}
.tab_v.active.card_blocked [class^="icon-"] {
  color: white;
}
.tab_v.card_blocked {
  color: #b54848;
}
.tab_v.card_blocked [class^="icon-"] {
  color: #b54848;
}
.tab_v.tab_v_small {
  padding: 13px 20px 15px 20px;
  min-height: 50px;
}
.tab_v.tab_v_filter {
  padding: 3px 20px 5px;
  min-height: 30px;
  cursor: default;
}
[tab_content] {
  display: none;
}
[tab_content].active {
  display: block;
}
.line_inner {
  background: #f6f6f6;
  padding: 10px 15px;
  margin-top: 8px;
  white-space: nowrap;
}
.line_inner .full_comment {
  color: #999;
  text-align: right;
  clear: both;
}
.line_inner + .line_inner {
  margin-top: 2px;
}
.line_inner_100 {
  display: inline-block;
  width: 100px;
}
.line_inner_150 {
  display: inline-block;
  width: 150px;
}
.line_inner_200 {
  display: inline-block;
  width: 200px;
  white-space: normal;
}
table td,
table th {
  padding: 8px;
  vertical-align: top;
}
table.table_form input[type=text],
table.table_form textarea {
  width: 100%;
}
table.table_form tr.dark td {
  background: #f6f6f6;
}
table.table_form td.v_top {
  vertical-align: top;
}
table.table_form .table_form td {
  background: #f6f6f6;
}
table.tbl_spacing {
  border-spacing: 2px;
  border-collapse: inherit;
}
.right {
  text-align: right;
}
.as_table {
  display: table;
  width: 100%;
}
.as_table .col {
  display: table-cell;
  padding: 20px;
}
.dn {
  display: none;
}
.ui-datepicker {
  display: block;
  background: #0e86ad;
  border-radius: 0 0 10px 10px;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
}
.ui-datepicker a {
  color: white;
}
.ui-datepicker table td {
  padding: 5px;
}
.ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-next {
  float: right;
}
.ui-datepicker-current-day {
  border: 1px solid white;
  border-radius: 5px;
}
.ui-datepicker-trigger {
  position: absolute;
  top: 7px;
  right: 10px;
}
.datepicker_big .ui-datepicker-trigger {
  top: 12px;
}
.f20 {
  font-size: 20px;
}
.datepicker_out {
  display: inline-block;
  position: relative;
}
.white_block {
  background: white;
  padding: 15px 20px 20px;
}
.as_white {
  padding: 15px 20px 20px;
}
.f24 {
  font-size: 24px;
}
.del {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
.del .icon-cancel {
  position: absolute;
  top: 3px;
  right: -20px;
}
textarea {
  min-height: 100px;
}
.block_loading {
  min-height: 200px;
  background: #ededed url(/img/load.gif) no-repeat center center;
}
.error_block {
  padding: 10px;
  text-align: center;
}
.fancybox-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.fancybox-skin {
  border-radius: 0;
  background: white;
}
.fancybox-opened .fancybox-skin {
  box-shadow: none;
}
.fancybox-close {
  top: 20px;
  right: 20px;
}
.fancy_header {
  border-bottom: 1px solid #dfdfdf;
  color: #999999;
  font-size: 24px;
  text-transform: uppercase;
  width: 100%;
  padding: 21px 70px 24px 30px;
  white-space: nowrap;
}
.fancy_body {
  padding: 30px;
}
.ui-state-disabled {
  opacity: 0.6;
}
.ui-datepicker-today {
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 4px!important;
}
.scroll {
  overflow-y: auto;
  width: 100%;
  min-height: 300px;
  transition: all 0.3s ease;
}
.form_attention {
  background: #f6f6f6;
}
table {
  border-collapse: collapse;
}
.btn_card_edit_add_serviсe {
  margin-top: 5px;
}
.form_elem {
  margin-bottom: 5px;
}
.table_form_limits {
  width: 755px;
}
.ajax_block_more {
  display: none;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}
.switch_block {
  margin-bottom: 25px;
  padding-left: 40px;
}
.sb_block {
  width: 30px;
  text-align: center;
  display: inline-block;
  margin-left: -40px;
  float: left;
  margin-top: -2px;
}
.sb_title {
  margin-bottom: 15px;
  display: block;
}
.sb_title b {
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
}
.sb_title .sb_block {
  margin-top: 2px;
}
.sb_content {
  margin-bottom: 15px;
  font-size: 18px;
}
.sb_content.sb_disabled {
  color: #999;
}
.sb_content small {
  font-size: 90%;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 7px;
}
.sb_content input[type=text] {
  margin-top: 5px;
}
.notices {
  position: absolute;
  font-size: 16px;
  background: white;
  top: 70px;
  left: -30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: none;
  text-align: left;
}
.notices:before {
  content: "";
  position: absolute;
  top: -9px;
  left: 55px;
  z-index: 10;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 9px 8px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}
.notices:after {
  content: "";
  position: absolute;
  top: -7px;
  left: 55px;
  z-index: 11;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 9px 8px;
  border-color: transparent transparent white transparent;
}
.notices > div {
  width: 220px;
  padding: 5px 15px;
}
.notice {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.n_title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.personal_name {
  max-height: 60px;
  overflow-y: hidden;
}
.message {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  margin: 20px 0;
}
.message .message_close {
  float: right;
  cursor: pointer;
}
.message-error {
  background: lightsalmon;
}
.list_header {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: table;
  width: 100%;
  height: 90px;
}
.list_header > div {
  display: table-cell;
  vertical-align: middle;
}
.news_elem {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.news_elem:last-child {
  border-bottom: 0;
}
.news_elem.unread0 {
  background: #f6f6f6;
}
.sub_menu_items {
  display: none;
  background: rgba(255, 255, 255, 0.05);
  font-size: 16px;
  padding-top: 9px;
  line-height: 1.1;
}
.sub_menu_items > div {
  padding: 0 10px 13px 55px;
}
.sub_menu_items a {
  color: #ddd;
  text-decoration: none;
}
.sub_menu_items a:hover,
.sub_menu_items a.act {
  text-decoration: none;
  color: #0e86ad;
}
sup.required {
  color: #b54848;
  font-size: 120%;
  line-height: 90%;
  font-weight: bold;
}
.n_date {
  margin-bottom: 7px;
}
.clients_btn {
  height: 60px;
  text-align: right;
}
.input_out {
  margin: -30px -30px 0;
  border-bottom: 1px solid #d8d9da;
  padding: 0 30px;
}
.input_out input[type=text] {
  border: 0;
  width: 100%;
}
.found_clients_list {
  margin: 0 -30px 20px;
  height: 350px;
  overflow-y: auto;
  width: 600px;
}
.client_found_row {
  border-bottom: 1px solid #d8d9da;
  display: table;
  width: 100%;
  padding: 10px 20px 10px 45px;
}
.client_found_row > span {
  display: table-cell;
}
.client_found_row > span:first-child {
  width: 30px;
}
.cfr_id {
  display: inline-block;
  margin: 0 10px;
  width: 50px;
}
.selected_clients_list {
  min-height: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.scl_item {
  display: inline-block;
  border-radius: 4px;
  background: #0e86ad;
  color: white;
  padding: 1px 5px 2px 7px;
  margin: 0 5px 3px 0;
}
.scli_close {
  color: black;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  margin: 0 0 0 3px;
  font-size: 20px;
  line-height: 14px;
  transition: all 0.3s ease;
}
.scli_close:hover {
  color: white;
}
.filter_toggle {
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.filter_toggle:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #999 transparent transparent transparent;
}
.filter_toggle.active:after {
  border-width: 0 3px 4px 3px;
  border-color: transparent transparent #999 transparent;
}
.filter_block {
  display: none;
  padding-bottom: 10px;
}
.filter_row {
  padding: 15px 0;
}
.n_link {
  margin-top: 10px;
}
.n_img {
  width: 160px;
  height: 110px;
  display: inline-block;
  float: right;
  margin: 0 0 10px 20px;
  background: transparent center no-repeat;
  background-size: cover;
}
.n_link_back {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px -20px -20px;
  padding: 10px 20px 15px;
  color: #0e86ad;
  font-size: 18px;
}
.n_img_detail {
  margin: 10px 0 20px;
}
.n_img_detail img {
  max-width: 100%;
}
.dropzone {
  min-height: 50px;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  padding: 0;
}
.tab_content_header {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.ajax_contract_block {
  margin-top: 20px;
}
.td_check,
.td_edit {
  display: none;
}
.check_span_hidden {
  display: none;
  margin-right: 10px;
}
.popup_list {
  margin: -30px -30px 0;
  height: 500px;
  overflow-y: auto;
  display: none;
  width: 1060px;
}
.popup_list_btns {
  text-align: right;
  padding: 20px 30px 0;
}
.popup_list_preview {
  width: 1000px;
  padding: 50px;
  text-align: center;
}
hr {
  background: rgba(0, 0, 0, 0.1);
  line-height: 0;
  height: 1px;
  margin: 20px 0;
  border: none;
}
.td_title {
  color: #999999;
  text-align: right;
  vertical-align: top;
  padding-top: 15px;
}
fieldset {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
}
.inline_block {
  display: inline-block;
  vertical-align: top;
}
.row_btns {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.t_sections_list fieldset {
  min-height: 100px;
  position: relative;
  padding-right: 60px;
}
.ts_remove {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 10;
}
.ts_conditions {
  margin-bottom: 10px;
}
.tsc_item {
  position: relative;
  min-height: 50px;
}
.tsc_item.line_inner {
  padding: 20px;
}
.tsc_item .ts_remove {
  top: 10px;
}
.tsc_item .line_inner_100 {
  vertical-align: top;
}
.center {
  text-align: center;
}
.report_template_block {
  display: none;
}
.vaTop {
  vertical-align: top;
}
.reference_compare {
  display: none;
}
.reference_block {
  display: inline-block;
}
.reference_block td {
  vertical-align: top;
  padding: 0 10px 0 0;
}
.disc_param_select {
  display: none;
}
.web_form_element {
  display: none;
}
.up_arrow {
  display: inline-block;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #0e86ad transparent;
}
.down_arrow {
  display: inline-block;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #0e86ad transparent transparent transparent;
}
.alarm {
  background: transparent;
  transition: all 0.5s ease;
}
.alarm.alarm_show {
  background: #FEEFB3;
}
.scroll_horizontal {
  overflow-y: auto;
}
.tbl {
  display: table;
  width: 100%;
}
.tbl > div {
  display: table-cell;
  vertical-align: top;
}
.tbl > div.tr {
  display: table-row;
}
.tbl > div.tr > div {
  display: table-cell;
}
.supplier {
  min-height: 120px;
  width: 480px;
  position: relative;
  margin: 0 40px 40px 0;
  padding-left: 140px;
}
.s_name {
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 18px;
}
.s_logo {
  float: left;
  margin-left: -110px;
  width: 80px;
  height: 80px;
  background: url(/img/GloPro-logo-pack/GloPro-main-logo.svg) no-repeat center;
  background-size: contain;
  display: inline-block;
}
.s_logo.s_logo_empty {
  border-radius: 50%;
  background: #eee;
}
.s_btn {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.s_info {
  margin-top: 10px;
}
.supplier-detail__name {
  padding-left: 130px;
  min-height: 100px;
  padding-top: 10px;
}
.supplier-detail__avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  float: left;
  margin-left: -130px;
  margin-top: -10px;
}
.supplier-detail__avatar-empty {
  border-radius: 50%;
  background: #ddd;
}
.supplier-detail__avatar-pic {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
}
.supplier-detail__avatar-dropzone.dropzone .dz-preview {
  margin: 10px;
  min-height: 80px;
}
.supplier-detail__avatar-dropzone.dropzone .dz-preview .dz-image {
  width: 75px;
  height: 75px;
}
.supplier-detail__avatar-dropzone.dropzone .dz-preview .dz-progress {
  width: 50px;
  margin-left: -25px;
}
.supplier-detail__avatar-dropzone.dropzone .dz-preview .dz-details {
  padding: 5px;
}
.supplier-detail__avatar-dropzone.dropzone .dz-message {
  margin: 1em 0;
}
.supplier-detail__id {
  float: right;
  color: #999;
}
.supplier-detail__info td {
  vertical-align: top;
}
.line {
  margin: 20px 0 30px 0;
  height: 1px;
  background: #dfdfdf;
}
div.jGrowl div.jGrowl-notification.jgrowl-glopro {
  width: 300px;
  font-size: 16px;
  color: white;
  opacity: 1;
  padding: 15px 20px;
}
div.jGrowl div.jGrowl-notification.jgrowl-glopro.jgrowl-group-0 {
  background-color: #a94442;
}
div.jGrowl div.jGrowl-notification.jgrowl-glopro.jgrowl-group-1 {
  background-color: #3c763d;
}
.supplier-contract {
  margin-top: 30px;
}
.supplier-contract .tabs_block {
  padding-top: 0;
}
.supplier-contract__contract-data-source {
  margin-bottom: 10px;
}
.supplier-contract__contract-data-source label {
  display: block;
  margin-bottom: 5px;
}
.padding__20 {
  padding: 20px;
}
.agreement__discount-type {
  margin-bottom: 10px;
}
.agreement__discount-type label {
  display: block;
  margin-bottom: 5px;
}
