.custom_view_scala .logo a {
  background-image: url(/img/logo.svg);
}
.custom_view_scala aside {
  background: #0e1d29;
}
.custom_view_scala aside > a,
.custom_view_scala aside .sub_menu_title {
  color: white;
}
.custom_view_scala aside > a:hover,
.custom_view_scala aside .sub_menu_title:hover,
.custom_view_scala aside > a.act,
.custom_view_scala aside .sub_menu_title.act {
  background: #0e86ad;
  color: white;
}
.custom_view_scala aside > a:hover span,
.custom_view_scala aside .sub_menu_title:hover span,
.custom_view_scala aside > a.act span,
.custom_view_scala aside .sub_menu_title.act span {
  color: white;
}
.custom_view_scala aside > a [class^="icon-"],
.custom_view_scala aside .sub_menu_title [class^="icon-"] {
  color: rgba(255, 255, 255, 0.5);
}
.custom_view_oilst .logo a {
  background-image: url(/img/projects/oilst.png);
}
.custom_view_oilst aside {
  background: #bc771e;
}
.custom_view_oilst aside > a,
.custom_view_oilst aside .sub_menu_title {
  color: white;
}
.custom_view_oilst aside > a:hover,
.custom_view_oilst aside .sub_menu_title:hover,
.custom_view_oilst aside > a.act,
.custom_view_oilst aside .sub_menu_title.act {
  background: #8a7a66;
  color: white;
}
.custom_view_oilst aside > a:hover span,
.custom_view_oilst aside .sub_menu_title:hover span,
.custom_view_oilst aside > a.act span,
.custom_view_oilst aside .sub_menu_title.act span {
  color: white;
}
.custom_view_oilst aside > a [class^="icon-"],
.custom_view_oilst aside .sub_menu_title [class^="icon-"] {
  color: rgba(255, 255, 255, 0.5);
}
.custom_view_oilst .sub_menu_items a:hover,
.custom_view_oilst .sub_menu_items a.act {
  color: white;
}
.custom_view_mo47 .logo a {
  background-image: url(/img/projects/mo47.png);
}
.custom_view_mo47 aside {
  background: #ddd;
}
.custom_view_mo47 aside > a,
.custom_view_mo47 aside .sub_menu_title {
  color: white;
}
.custom_view_mo47 aside > a:hover,
.custom_view_mo47 aside .sub_menu_title:hover,
.custom_view_mo47 aside > a.act,
.custom_view_mo47 aside .sub_menu_title.act {
  background: #4D8FC7;
  color: white;
}
.custom_view_mo47 aside > a:hover span,
.custom_view_mo47 aside .sub_menu_title:hover span,
.custom_view_mo47 aside > a.act span,
.custom_view_mo47 aside .sub_menu_title.act span {
  color: white;
}
.custom_view_mo47 aside > a [class^="icon-"],
.custom_view_mo47 aside .sub_menu_title [class^="icon-"] {
  color: rgba(255, 255, 255, 0.5);
}
.custom_view_vegix .logo a {
  background-image: url(/img/projects/vegix.png);
}
.custom_view_vegix aside {
  background: #fff;
}
.custom_view_vegix aside > a,
.custom_view_vegix aside .sub_menu_title {
  color: white;
}
.custom_view_vegix aside > a:hover,
.custom_view_vegix aside .sub_menu_title:hover,
.custom_view_vegix aside > a.act,
.custom_view_vegix aside .sub_menu_title.act {
  background: #0e86ad;
  color: white;
}
.custom_view_vegix aside > a:hover span,
.custom_view_vegix aside .sub_menu_title:hover span,
.custom_view_vegix aside > a.act span,
.custom_view_vegix aside .sub_menu_title.act span {
  color: white;
}
.custom_view_vegix aside > a [class^="icon-"],
.custom_view_vegix aside .sub_menu_title [class^="icon-"] {
  color: #f90e24;
}
.custom_view_vegix .sub_menu_items a:hover,
.custom_view_vegix .sub_menu_items a.act {
  color: #f90e24;
}
.custom_view_piteroil .logo a {
  background-image: url(/img/projects/piter.jpg);
}
.custom_view_piteroil aside {
  background: #f7d463;
}
.custom_view_piteroil aside > a,
.custom_view_piteroil aside .sub_menu_title {
  color: #000000;
}
.custom_view_piteroil aside > a:hover,
.custom_view_piteroil aside .sub_menu_title:hover,
.custom_view_piteroil aside > a.act,
.custom_view_piteroil aside .sub_menu_title.act {
  background: #ed8e00;
  color: #000000;
}
.custom_view_piteroil aside > a:hover span,
.custom_view_piteroil aside .sub_menu_title:hover span,
.custom_view_piteroil aside > a.act span,
.custom_view_piteroil aside .sub_menu_title.act span {
  color: #000000;
}
.custom_view_piteroil aside > a [class^="icon-"],
.custom_view_piteroil aside .sub_menu_title [class^="icon-"] {
  color: #000000;
}
.custom_view_piteroil .sub_menu_items {
  background: rgba(0, 0, 0, 0.05);
}
.custom_view_piteroil .sub_menu_items a {
  color: #444;
}
.custom_view_piteroil .sub_menu_items a:hover,
.custom_view_piteroil .sub_menu_items a.act {
  color: #000000;
}
.custom_view_interoil {
  background: #fffbf5;
}
.custom_view_interoil header {
  background: #320a09;
}
.custom_view_interoil .logo a {
  background-image: url(/img/projects/interoil.png);
}
.custom_view_interoil aside {
  background: #bc771e;
}
.custom_view_interoil aside > a,
.custom_view_interoil aside .sub_menu_title {
  color: white;
}
.custom_view_interoil aside > a:hover,
.custom_view_interoil aside .sub_menu_title:hover,
.custom_view_interoil aside > a.act,
.custom_view_interoil aside .sub_menu_title.act {
  background: #8a7a66;
  color: white;
}
.custom_view_interoil aside > a:hover span,
.custom_view_interoil aside .sub_menu_title:hover span,
.custom_view_interoil aside > a.act span,
.custom_view_interoil aside .sub_menu_title.act span {
  color: white;
}
.custom_view_interoil aside > a [class^="icon-"],
.custom_view_interoil aside .sub_menu_title [class^="icon-"] {
  color: rgba(255, 255, 255, 0.5);
}
.custom_view_interoil .sub_menu_items a:hover,
.custom_view_interoil .sub_menu_items a.act {
  color: white;
}
