@import "fonts/icons/style.css";
@import "fonts/SegoeUILight/style.css";
@import "fonts/SegoeUISemiBold/style.css";
* {
  box-sizing: border-box;
}
html,
body {
  font-family: SegoeUILight, Tahoma;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f1f2f3;
  color: #000;
  font-size: 16px;
}
img {
  border: 0;
}
h1,
.h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 25px;
  padding: 0;
  color: #999;
  text-transform: uppercase;
}
h1 .btn,
.h1 .btn {
  margin-top: -4px;
  vertical-align: top;
  float: right;
}
h1 + .tabs_block,
.h1 + .tabs_block {
  padding-top: 0;
}
h2,
.h2 {
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 10px;
  padding: 0;
  color: #000;
}
h3,
.h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 5px;
  padding: 0;
  color: #999;
}
b,
strong {
  font-weight: normal;
  font-family: SegoeUISemiBold;
}
b[class^="f"],
strong[class^="f"] {
  margin-bottom: 8px;
  display: inline-block;
}
input,
textarea,
a,
button,
select {
  outline: none;
}
input:disabled,
textarea:disabled,
a:disabled,
button:disabled,
select:disabled {
  opacity: 0.6;
}
select {
  max-width: 250px;
}
select.select_long {
  max-width: 500px;
}
a {
  color: #0e86ad;
  text-decoration: none;
}
a:hover {
  color: #0e86ad;
  text-decoration: underline;
}
a.red:hover {
  color: #b54848;
}
.clr {
  clear: both;
}
.col {
  vertical-align: top;
  display: inline-block;
}
.bad_browser {
  padding: 200px;
  text-align: center;
  display: none;
}
.content {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 92px 30px 30px 240px;
  overflow-y: auto;
  transition: all 0.3s ease;
}
header {
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background: white;
  border-bottom: 1px solid #d8d9da;
  display: table;
}
header > div {
  display: table-cell;
  vertical-align: middle;
}
.logo {
  text-align: center;
  width: 210px;
}
.logo a {
  display: inline-block;
  width: 120px;
  height: 40px;
  background: no-repeat center;
  background-size: contain;
}
.hamburger,
.mail,
.settings,
.logout {
  width: 70px;
  text-align: center;
  font-size: 20px;
}
.hamburger a,
.mail a,
.settings a,
.logout a {
  display: table-cell;
  width: 70px;
  height: 70px;
  color: #7e7e7e;
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.hamburger a:hover,
.mail a:hover,
.settings a:hover,
.logout a:hover {
  background: #f6f6f6;
}
.hamburger {
  border-left: 1px solid #d8d9da;
  border-right: 1px solid #d8d9da;
  font-size: 22px;
}
.search {
  white-space: nowrap;
}
.search button {
  width: 45px;
  height: 70px;
  border: 0;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: #7e7e7e;
}
.search input[type=text] {
  height: 70px;
  width: 80%;
  border: none;
  font-size: 18px;
  font-family: SegoeUILight, Tahoma;
}
.personal {
  width: 220px;
  color: black;
  padding-left: 60px;
  padding-right: 10px;
  font-size: 16px;
}
.personal .avatar {
  float: left;
  margin-left: -60px;
}
.avatar {
  width: 44px;
  height: 44px;
  display: table;
  border-radius: 50%;
  background: #eee center;
  background-size: cover;
}
.avatar i {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
}
aside {
  vertical-align: top;
  position: fixed;
  width: 210px;
  overflow: hidden;
  z-index: 2;
  height: 100%;
  padding-top: 85px;
  transition: all 0.3s ease;
}
aside a {
  display: block;
  vertical-align: middle;
  font-size: 18px;
  text-decoration: none;
  font-family: SegoeUISemiBold, Tahoma;
  padding: 9px 0 13px 55px;
  width: 210px;
  transition: all 0.3s ease;
}
aside a:hover,
aside a.act {
  text-decoration: none;
}
aside a [class^="icon-"] {
  font-size: 20px;
  width: 35px;
  display: inline-block;
  padding-top: 3px;
  float: left;
  margin-left: -37px;
}
.wrapper.menu_collapsed aside {
  width: 55px;
}
.wrapper.menu_collapsed .content {
  padding-left: 85px;
}
.mail .icon-mail {
  position: relative;
}
.mail .icon-mail span {
  position: absolute;
  background: #b82f2f;
  color: white;
  font-size: 14px;
  height: 20px;
  border-radius: 10px;
  top: -10px;
  right: -10px;
  padding: 2px 5px;
  display: inline-block;
}
a.btn,
a.btn:hover {
  text-decoration: none;
}
.btn {
  font-size: 16px;
  color: #0e86ad;
  border: 1px solid rgba(14, 134, 173, 0.3);
  border-radius: 5px;
  text-transform: none;
  padding: 10px 20px 13px;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  font-family: SegoeUILight;
  text-align: center;
  transition: all 0.3s ease;
}
.btn:hover,
.btn.btn_reverse,
.btn.active {
  color: white;
  background: #0e86ad;
  border-color: #0e86ad;
}
.btn:hover .icon-pdf,
.btn.btn_reverse .icon-pdf,
.btn.active .icon-pdf,
.btn:hover .icon-exel1,
.btn.btn_reverse .icon-exel1,
.btn.active .icon-exel1,
.btn:hover .icon-exel2,
.btn.btn_reverse .icon-exel2,
.btn.active .icon-exel2 {
  color: white;
}
.btn.btn_gray {
  color: #999999;
  border-color: rgba(0, 0, 0, 0.3);
}
.btn.btn_gray:hover,
.btn.btn_gray.btn_reverse,
.btn.btn_gray.active {
  background: #999999;
  border-color: #999999;
  color: white;
}
.btn.btn_min_width {
  min-width: 275px;
}
.btn.btn_red {
  color: #b54848;
  border-color: rgba(181, 72, 72, 0.3);
}
.btn.btn_red:hover,
.btn.btn_red.btn_reverse,
.btn.btn_red.active {
  background: #b54848;
  border-color: #b54848;
  color: white;
}
.btn.btn_green {
  color: #76b548;
  border-color: rgba(118, 181, 72, 0.3);
}
.btn.btn_green:hover,
.btn.btn_green.btn_reverse,
.btn.btn_green.active {
  background: #76b548;
  border-color: #76b548;
  color: white;
}
.btn [class^="icon-"] {
  vertical-align: middle;
  margin-right: 5px;
}
.btn [class^="icon-"].icon_big {
  font-size: 150%;
  line-height: 70%;
  margin-left: -5px;
}
.btn .icon-pdf {
  color: #e11e1e;
}
.btn .icon-exel1,
.btn .icon-exel2 {
  color: #248b13;
}
.btn.btn_small {
  border-color: transparent;
  padding: 5px 10px;
}
.block {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  margin: 20px 0;
}
.block h2,
.block .h2 {
  color: #0e86ad;
  font-size: 24px;
}
.block .table_out {
  margin: 0 -30px -20px;
}
.block .table_out .table {
  border: 0;
}
.table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}
.table td,
.table th {
  padding: 15px 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.gray {
  color: #999999;
}
.label {
  font-size: 16px;
  color: #999;
  display: inline-block;
  border-radius: 5px;
  padding: 1px 10px 4px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.label.label_success {
  background: #76b548;
  color: white;
  border-color: transparent;
}
.label.label_error {
  background: #b54848;
  color: white;
  border-color: transparent;
}
.label.label_warning {
  background: #d8bd69;
  color: white;
  border-color: transparent;
}
.label.label_info {
  background: #0e86ad;
  color: white;
  border-color: transparent;
}
.label.label_big {
  font-size: 24px;
  padding: 5px 19px 8px;
}
.label.label_small {
  font-size: 12px;
}
.fr {
  float: right;
}
.fr + .fr {
  margin-right: 20px;
}
.back_link {
  margin-bottom: 15px;
  display: inline-block;
}
input[type=text].input_big,
input[type=password].input_big,
input[type=number].input_big,
select.select_big,
textarea.textarea_big {
  height: 46px;
  background: white;
  font-family: SegoeUILight;
  border: 1px solid #d8d9da;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
}
input[type=text],
input[type=password],
input[type=number],
select,
textarea {
  height: 34px;
  background: white;
  font-family: SegoeUILight;
  border: 1px solid #d8d9da;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}
input[type=text].input_w_small,
input[type=password].input_w_small,
input[type=number].input_w_small,
select.input_w_small,
textarea.input_w_small {
  width: 140px;
}
.more_info {
  margin-bottom: 30px;
}
.f18 {
  font-size: 18px;
}
.tabs_block {
  padding-top: 20px;
}
.tabs_content {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.tabs_content.tabs_content_no_padding {
  padding: 0;
}
.tab {
  font-size: 24px;
  color: #999999;
  height: 62px;
  padding: 12px 20px 0;
  background: #e9ebed;
  border: 1px solid transparent;
  margin-right: 1px;
  display: inline-block;
  cursor: pointer;
}
.tab.active {
  color: black;
  background: white;
  border-color: rgba(0, 0, 0, 0.1);
  position: relative;
}
.tab.active:hover {
  color: black;
  background: white;
  border-color: rgba(0, 0, 0, 0.1);
}
.tab.active:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  line-height: 0;
  background: white;
}
.tab.active i {
  color: #999;
}
.tab:hover {
  background: #e1e3e5;
  text-decoration: none;
  color: #999;
}
.tab i {
  vertical-align: middle;
  margin-right: 10px;
}
.red {
  color: #b54848;
}
.tc_top_line {
  font-size: 24px;
  padding: 25px 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 90px;
}
.tc_top_line .fr {
  margin-top: -5px;
}
.input_with_icon {
  font-size: 16px;
  color: #7e7e7e;
  position: relative;
}
.input_with_icon input[type=text] {
  padding-left: 40px;
}
.input_with_icon [class^="icon-"] {
  position: absolute;
  top: 15px;
  left: 15px;
}
.tabs_vertical_block {
  background: #f6f6f6;
  display: table;
  width: 100%;
}
.tabs_v {
  width: 365px;
  display: table-cell;
  vertical-align: top;
}
.tabs_v_content {
  background: white;
  padding: 20px;
  display: table-cell;
  vertical-align: top;
}
.tab_v {
  padding: 13px 20px 15px 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  min-height: 70px;
  display: table;
  width: 100%;
  transition: all 0.3s ease;
}
.tab_v > div {
  display: table-cell;
  vertical-align: middle;
}
.tab_v.preload {
  border-bottom: none;
  cursor: default;
}
.tab_v [class^="icon-"] {
  position: absolute;
  top: 25px;
  left: 25px;
}
.tab_v .label {
  position: absolute;
  right: 20px;
  top: 23px;
}
.tab_v.onestr [class^="icon-"] {
  margin-top: 5px;
}
.tab_v:hover:not(.preload) {
  background: #e9ebed;
}
.tab_v a {
  text-decoration: none;
}
.tab_v.active {
  color: white;
  background: #0e86ad;
}
.tab_v.active:hover {
  background: #0e86ad;
}
.tab_v.active .gray {
  color: rgba(255, 255, 255, 0.5);
}
.tab_v.active [class^="icon-"],
.tab_v.active a {
  color: white;
}
[tab_content] {
  display: none;
}
[tab_content].active {
  display: block;
}
.line_inner {
  background: #f6f6f6;
  padding: 10px 15px;
  margin-top: 8px;
}
.line_inner + .line_inner {
  margin-top: 2px;
}
.line_inner_150 {
  display: inline-block;
  width: 150px;
}
table td {
  padding: 8px;
}
table.table_form input,
table.table_form textarea,
table.table_form .datepicker_out {
  width: 100%;
}
table.table_form td.v_top {
  vertical-align: top;
}
table.table_form .table_form td {
  background: #f6f6f6;
}
.right {
  text-align: right;
}
.as_table {
  display: table;
  width: 100%;
}
.as_table .col {
  display: table-cell;
  padding: 20px;
}
.dn {
  display: none;
}
.ui-datepicker {
  display: block;
  background: #0e86ad;
  border-radius: 0 0 10px 10px;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
}
.ui-datepicker a {
  color: white;
}
.ui-datepicker table td {
  padding: 5px;
}
.ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-next {
  float: right;
}
.ui-datepicker-current-day {
  border: 1px solid white;
  border-radius: 5px;
}
.ui-datepicker-trigger {
  position: absolute;
  top: 12px;
  right: 10px;
}
.f20 {
  font-size: 20px;
}
.datepicker_out {
  display: inline-block;
  position: relative;
}
.white_block {
  background: white;
  padding: 15px 20px 20px;
}
.as_white {
  padding: 15px 20px 20px;
}
.f24 {
  font-size: 24px;
}
.del {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
.del .icon-cancel {
  position: absolute;
  top: 3px;
  right: -20px;
}
textarea {
  min-height: 100px;
}
.block_loading {
  min-height: 200px;
  background: #ededed url(/img/load.gif) no-repeat center center;
  margin: 10px 0;
}
.error_block {
  padding: 10px;
  text-align: center;
}
.fancybox-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.fancybox-skin {
  border-radius: 0;
  background: white;
}
.fancybox-opened .fancybox-skin {
  box-shadow: none;
}
.fancybox-close {
  top: 20px;
  right: 20px;
}
.fancy_header {
  border-bottom: 1px solid #dfdfdf;
  color: #999999;
  font-size: 24px;
  text-transform: uppercase;
  width: 100%;
  padding: 21px 70px 24px 30px;
  white-space: nowrap;
}
.fancy_body {
  padding: 30px;
}
.ui-state-disabled {
  opacity: 0.6;
}
.ui-datepicker-today {
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 4px!important;
}
.scroll {
  overflow-y: auto;
  width: 100%;
  display: none;
}
.custom_view_scala .logo a {
  background-image: url(/img/logo.svg);
}
.custom_view_scala aside {
  background: #0e1d29;
}
.custom_view_scala aside a {
  color: white;
}
.custom_view_scala aside a:hover,
.custom_view_scala aside a.act {
  background: #0e86ad;
  color: white;
}
.custom_view_scala aside a:hover span,
.custom_view_scala aside a.act span {
  color: white;
}
.custom_view_scala aside a [class^="icon-"] {
  color: rgba(255, 255, 255, 0.5);
}
.custom_view_oilst .logo a {
  background-image: url(/img/projects/oilst.png);
}
.custom_view_oilst aside {
  background: #bc771e;
}
.custom_view_oilst aside a {
  color: white;
}
.custom_view_oilst aside a:hover,
.custom_view_oilst aside a.act {
  background: #8a7a66;
  color: white;
}
.custom_view_oilst aside a:hover span,
.custom_view_oilst aside a.act span {
  color: white;
}
.custom_view_oilst aside a [class^="icon-"] {
  color: rgba(255, 255, 255, 0.5);
}
.form_attention {
  background: #f6f6f6;
}
table {
  border-collapse: collapse;
}
.btn_card_edit_add_servi—Åe {
  margin-top: 5px;
}
.form_elem {
  margin-bottom: 5px;
}
.table_form_limits {
  width: 755px;
}
.ajax_block_more {
  display: none;
  text-align: center;
  padding-top: 5px;
}
.switch_block {
  margin-bottom: 25px;
  padding-left: 40px;
}
.sb_block {
  width: 30px;
  text-align: center;
  display: inline-block;
  margin-left: -40px;
  float: left;
  margin-top: -2px;
}
.sb_title {
  margin-bottom: 15px;
  display: block;
}
.sb_title b {
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
}
.sb_title .sb_block {
  margin-top: 2px;
}
.sb_content {
  margin-bottom: 15px;
  font-size: 18px;
}
.sb_content.sb_disabled {
  color: #999;
}
.sb_content small {
  font-size: 90%;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 7px;
}
.sb_content input[type=text] {
  margin-top: 5px;
}
