@import "fonts/icons/style.css";
.checkbox_inner {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(14, 134, 173, 0.3);
  border-radius: 3px;
  vertical-align: bottom;
  cursor: pointer;
  text-align: center;
  line-height: 0;
  padding: 1px 0 0 0;
  transition: all 0.3s ease;
}
.checkbox_inner .icon-ok {
  display: none;
  font-size: 13px;
  color: #fff;
  position: relative!important;
  top: inherit!important;
  left: inherit!important;
}
.checkbox_inner.checkbox_checked {
  background: #0e86ad;
  border-color: #0e86ad;
}
.checkbox_inner.checkbox_checked .icon-ok {
  display: inline-block;
}
.checkbox_inner.checkbox_disabled {
  border-color: rgba(153, 153, 153, 0.3);
  cursor: default;
}
.checkbox_inner.checkbox_disabled.checkbox_checked {
  background: #999999;
  border-color: #999999;
}
.check_box_active_reverse .checkbox_inner {
  border-color: #dedede;
}
.check_box_active_reverse.checkbox_checked {
  border-color: #dedede;
}
.radio_inner {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(14, 134, 173, 0.3);
  border-radius: 50%;
  vertical-align: bottom;
  cursor: pointer;
  text-align: center;
  line-height: 0;
  padding: 3px 0 0 0;
  transition: all 0.3s ease;
}
.radio_inner span {
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.radio_inner.radio_checked {
  border-color: #0e86ad;
}
.radio_inner.radio_checked span {
  display: inline-block;
  background: #0e86ad;
}
.radio_inner.radio_disabled {
  border-color: rgba(153, 153, 153, 0.3);
  cursor: default;
}
.radio_inner.radio_disabled.radio_checked span {
  background: #999999;
}
.switch_inner {
  display: inline-block;
  height: 20px;
  width: 30px;
  border-radius: 10px;
  padding: 1px;
  line-height: 0;
  cursor: pointer;
  vertical-align: bottom;
  text-align: left;
  background: #fff;
  border: 1px solid rgba(14, 134, 173, 0.3);
  transition: all 0.3s ease;
}
.switch_inner span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0e86ad;
}
.switch_inner.switch_checked {
  padding-left: 11px;
  background: #0e86ad;
}
.switch_inner.switch_checked span {
  background: #fff;
}
.switch_inner.switch_disabled {
  border-color: rgba(153, 153, 153, 0.3);
  cursor: default;
}
.switch_inner.switch_disabled span {
  background: #999999;
}
.switch_inner.switch_disabled.switch_checked {
  background: #999999;
  border-color: #999999;
}
.switch_inner.switch_disabled.switch_checked span {
  background: #fff;
}
.combobox_multi_outer,
.combobox_outer {
  display: inline-block;
  position: relative;
}
.combobox_multi_wrapper {
  position: relative;
  display: inline-block;
}
.combobox_multi_result,
.combobox_result {
  position: absolute;
  border: 1px solid #d8d9da;
  background: white;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  left: 0;
  top: 90%;
  display: none;
  border-top: 0;
  min-width: 100%;
  z-index: 999;
}
.combobox_multi_result_item,
.combobox_result_item {
  cursor: pointer;
  display: block;
  padding: 5px;
  transition: all 0.3s ease;
}
.combobox_multi_result_item:hover,
.combobox_result_item:hover {
  background: rgba(0, 0, 0, 0.05);
}
.combobox_multi_result_item.combobox_multi_result_item_selected,
.combobox_result_item.combobox_multi_result_item_selected,
.combobox_multi_result_item.combobox_result_item_selected,
.combobox_result_item.combobox_result_item_selected {
  background: rgba(0, 0, 0, 0.1);
}
.combobox_multi_selected {
  max-width: 500px;
  white-space: normal;
}
.combobox_multi_selected_item {
  display: inline-block;
  border-radius: 4px;
  background: #0e86ad;
  color: white;
  padding: 1px 5px 2px 7px;
  margin: 3px 5px 3px 0;
}
.combobox_multi_selected_item_close {
  color: black;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  margin: 0 0 0 3px;
  font-size: 20px;
  line-height: 14px;
}
.combobox_multi_selected_item_close:hover {
  color: white;
}
