@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?ss6tpe');
    src:    url('icomoon.eot?ss6tpe#iefix') format('embedded-opentype'),
        url('icomoon.ttf?ss6tpe') format('truetype'),
        url('icomoon.woff?ss6tpe') format('woff'),
        url('icomoon.svg?ss6tpe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-set:before {
    content: "\e904";
}
.icon-paperclip:before {
    content: "\e905";
}
.icon-reply:before {
    content: "\e906";
}
.icon-backblock:before {
    content: "\e907";
}
.icon-block:before {
    content: "\e908";
}
.icon-notifications:before {
    content: "\e900";
}
.icon-user:before {
    content: "\e901";
}
.icon-ok:before {
    content: "\e902";
}
.icon-cancel:before {
    content: "\e903";
}
.icon-card:before {
    content: "\e614";
}
.icon-loader:before {
    content: "\e615";
}
.icon-pen:before {
    content: "\e616";
}
.icon-exit:before {
    content: "\e60f";
}
.icon-find:before {
    content: "\e610";
}
.icon-gear:before {
    content: "\e611";
}
.icon-mail:before {
    content: "\e612";
}
.icon-menu:before {
    content: "\e613";
}
.icon-account:before {
    content: "\e600";
}
.icon-analytics:before {
    content: "\e601";
}
.icon-calendar:before {
    content: "\e602";
}
.icon-cards:before {
    content: "\e603";
}
.icon-clients:before {
    content: "\e604";
}
.icon-contract:before {
    content: "\e605";
}
.icon-dailes:before {
    content: "\e606";
}
.icon-download:before {
    content: "\e607";
}
.icon-exel1:before {
    content: "\e608";
}
.icon-exel2:before {
    content: "\e609";
}
.icon-news:before {
    content: "\e60a";
}
.icon-pdf:before {
    content: "\e60b";
}
.icon-question:before {
    content: "\e60c";
}
.icon-reports:before {
    content: "\e60d";
}
.icon-summary:before {
    content: "\e60e";
}

